#hamburger {
    display: block;
}


#hamburger > img{
    width: auto;
    height: 3em;
}

ul.meniu {
    display: none;
}

#ch-menu:checked + ul.meniu {
    display : block;
    position: absolute;
    z-index: 10;
    left:0;
    
    width: 100%;
    transform-origin: top left;
    animation : animatie_burger 0.5s ease-out forwards;

}

@keyframes animatie_burger {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1
    }
}

ul.meniu li{
    width: 100%;
    margin-right: 0;
}

ul.meniu ul{
    width: 100%;
}

ul.meniu ul li a::before {
    content: none; 
    display: none;
}

ul.meniu ul li a {
    text-align: center;
    padding-left: 0;
}

ul.meniu li:hover{
    background-color: var(--culoare-accent);
    color: white;
    box-shadow: inset 0 0 5px 3px black;
}