%container-rotunjit {
    border: 1px solid var(--culoare-contur);
    border-radius: 10px; 
    box-shadow: 0px 0px 5px var(--culoare-contur);
    padding: 20px;
    background-color: var(--culoare-fundal);
}

#body-zbor {
    main {
        @extend %container-rotunjit;


        background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.8)), var(--imagine-fundal); 

        background-size: cover;
        background-position: center;


        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
        padding: 30px; 

        h2 {
            display: block;
            color: var(--culoare-accent);
            font-size: 5vw;
            letter-spacing: 1vw;

            .x-mare {
                font-size: 1.5em; 
                color: var(--culoare-text); 
                display: inline-block; 
                transform: translateY(8%);
            }
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }
    }

    #art-produs {
        width: 100%;
        max-width: 900px; 
        margin: 0 auto;
    }

    .produs-zbor {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        margin-bottom: 30px;
        transition: transform 0.4s;
        @extend %container-rotunjit;
        background-color: var(--culoare-fundal); 

        .zona-centrala {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .zona-plecare, .zona-sosire {
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            .oras { 
                font-weight: bold; 
                font-size: 1.2rem; 
            }
            .data { 
                color: var(--culoare-text); 
                font-size: 0.9rem; 
            }
        } 

        .zona-sosire { align-items: flex-end; }
        .zona-plecare { align-items: flex-start; }

        &:hover {
            transform: scale(1.03);
            .cumpara { color: var(--culoare-accent); }
        }
        
        .pret-zbor {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--culoare-text);
        }
    }


    .container-detalii {
        display: grid;
        grid-template-columns: 1fr 300px; 
        gap: 30px;
        text-align: left;
        background-color: var(--culoare-fundal);
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 4px 6px var(--culoare-contur);

        @media (max-width: 700px) {
            grid-template-columns: 1fr; 
        }

        .info-text {
    
            p {
                font-size: 1.1rem;
                margin-bottom: 10px;
                border-bottom: 1px dashed var(--culoare-contur);
                padding-bottom: 5px;
                
                strong {
                    color: var(--culoare-text);
                    margin-right: 5px;
                }
                
                span {
                    color: var(--culoare-text);
                }
            }

            .descriere {
                margin-top: 20px;
                background-color: var(--culoare-fundal-secundar);
                padding: 15px;
                border-left: 4px solid var(--culoare-accent);
                border-radius: 0 5px 5px 0;

                strong { 
                    display: block; 
                    margin-bottom: 5px; 
                    color: var(--culoare-accent); 
                }
                p { 
                    border: none; 
                    padding: 0; 
                    font-size: 1rem; 
                    color: var(--culoare-text); 
                    line-height: 1.5; 
                    margin: 0; 
                }
            }
        }

        .imagine-zbor {
            margin: 0;
            display: flex;
            align-items: flex-start;

            img {
                width: 100%;
                height: auto;
                border: 2px solid var(--culoare-contur);
                border-radius: 10px;
                box-shadow: 0 4px 8px var(--culoare-contur);
            }
        }
    }
}