#Dependente
node_modules/

# Fisiere generate de aplicatie sau compilatoare

.DS_Store
dist/
build/
*.log
resurse/scss/*.map
*.zip

backup/
temp/
logs/
fisiere_uploadate/


# Astea sunt cele adaugate
resurse/css/produse.css
views/pagini/produs.ejs
views/pagini/produse.ejs
Script_Exemplu_Curs.sql
resurse/imagini/zboruri/Poza_unresize/