@charset "UTF-8";
html {
  font-size: 16px;
  transition: font-size 0.5s ease-in-out;
}

body {
  --culoare-fundal: #f0f4f8;
  --culoare-contur: #2b5797;
  --culoare-accent: #e67e22;
  --culoare-text: #122b4f;
  --margine-pagina: 120px;
  --spatiere-grid: 20px;
  --culoare-link-hover: #d35400;
  background-color: var(--culoare-fundal);
}
body > header > h1 {
  margin-right: 10px;
  margin-left: 10px;
}

body.dark-mode {
  --culoare-fundal: #1a1a1a;
  --culoare-contur: #e67e22;
  --culoare-accent: #2b5797;
  --culoare-text: #122b4f;
  --culoare-link-hover: #2980b9;
}

#video-promo iframe, #resurse-utile object, #grid-pagina > * {
  border: 1px solid var(--culoare-contur);
  border-radius: 10px;
}

main {
  margin-right: var(--margine-pagina);
  margin-left: var(--margine-pagina);
  margin-top: 4rem;
}
main h2 {
  margin-top: 0.5rem;
  color: var(--culoare-text);
  margin-bottom: 0.5rem;
}
main h3 {
  color: var(--culoare-text);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
main {
  margin-bottom: 20px;
}

footer {
  color: white;
}
footer a {
  text-decoration: none;
  color: inherit;
}

#hamburger, #ch-menu, #watermark {
  display: none;
}

#grid-pagina > * {
  box-shadow: 0px 0px 5px var(--culoare-contur);
  padding: 20px;
  background-color: white;
}

#welcome {
  grid-area: zona1;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url("../imagini/fundal-avion.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  min-height: 400px;
}
#welcome p {
  max-width: 600px;
  border: none;
}

#grid-pagina {
  display: grid;
  gap: var(--spatiere-grid);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "zona1 zona1 zona1" "zona3 zona2 zona4" "zona5 zona2 zona4" "zona5 zona6 zona7" "zona8 zona8 zona8";
}

#welcome {
  grid-area: zona1;
}

#orar {
  grid-area: zona2;
  overflow-x: auto;
}

#calendar-evenimente {
  grid-area: zona3;
}

#anunturi {
  grid-area: zona4;
}

#utilizatori-online {
  grid-area: zona5;
}

#statistici-utilizator {
  grid-area: zona6;
}

#date-server {
  grid-area: zona7;
}

#diverse {
  grid-area: zona8;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.honk-hawaii {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0, "SHLN" 50;
}

#video-promo iframe {
  width: 100%;
  height: 450px;
  max-width: 800px;
  min-width: 280px;
  border: 1px solid var(--culoare-contur);
}

.container-iframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-bottom: 20px;
}
.container-iframe .taburi-iframe {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}
.container-iframe .taburi-iframe > a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--culoare-text);
  border: 1px solid var(--culoare-text);
  box-shadow: 0px 0px 5px var(--culoare-text);
  color: white;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
  transition: all 0.7s linear;
}
.container-iframe .taburi-iframe > a:hover {
  background-color: var(--culoare-accent);
  border: 1px solid var(--culoare-accent);
}

#link-top {
  position: fixed;
  bottom: 0.3em;
  opacity: 0.7;
  right: 0.3em;
  width: 3rem;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 10;
}
#link-top:hover {
  opacity: 1;
  border-left: 4px solid var(--culoare-text);
  border-right: 4px solid var(--culoare-text);
}

.triunghi {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--culoare-text);
  transition: all 0.5s;
}

#link-top:hover .triunghi {
  border-bottom-color: var(--culoare-accent);
  transform: translateY(-7px);
}

#tab-orar {
  border-collapse: collapse;
  border: 5px solid var(--culoare-text);
  width: 100%;
}
#tab-orar caption {
  caption-side: bottom;
  margin-top: 10px;
  font-style: italic;
}
#tab-orar td, #tab-orar th {
  border: 1px solid var(--culoare-text);
  padding: 5px;
  text-align: center;
}
#tab-orar tbody tr {
  transition: all 0.5s linear;
  cursor: pointer;
  outline: 5px solid transparent;
}
#tab-orar tbody tr:nth-child(even) {
  border-top: 2px solid var(--culoare-accent);
}
#tab-orar tbody tr:nth-child(odd) {
  border-top: 2px solid var(--culoare-contur);
}
#tab-orar tbody tr:hover {
  outline: 5px solid rgba(43, 87, 151, 0.7);
}

math {
  display: inline-block;
  font-size: 1.8rem;
  border: 10px solid transparent;
  background-color: var(--culoare-fundal);
  padding: 10px;
  border-radius: 10px;
}

mi {
  color: var(--culoare-contur);
  font-weight: bold;
}

mo {
  color: var(--culoare-accent);
  padding: 0 5px;
}

mfrac {
  border-left: 2px solid var(--culoare-accent);
  padding-left: 5px;
}

::cue {
  background-color: var(--culoare-text);
  color: white;
}

#container-video video {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid var(--culoare-contur);
  width: 80%;
  height: auto;
  max-width: 800px;
  min-width: 300px;
}

main a:not(a.link-fara-stilizare), footer a:not(a.link-fara-stilizare) {
  background-image: radial-gradient(circle, var(--culoare-accent) 0%, var(--culoare-accent) 40%, transparent 80%, transparent 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  transition: all 0.5s ease-out;
}
main a:not(a.link-fara-stilizare):visited, footer a:not(a.link-fara-stilizare):visited {
  color: var(--culoare-accent);
}
main a:not(a.link-fara-stilizare):hover, footer a:not(a.link-fara-stilizare):hover {
  background-size: 100% 100%;
}
main a:not(a.link-fara-stilizare):active, footer a:not(a.link-fara-stilizare):active {
  border: 2px solid var(--culoare-contur);
}
main a:not(a.link-fara-stilizare)[href^=https]::before, main a:not(a.link-fara-stilizare)[href^=mailto]::before, main a:not(a.link-fara-stilizare)[href^=tel]::before, footer a:not(a.link-fara-stilizare)[href^=https]::before, footer a:not(a.link-fara-stilizare)[href^=mailto]::before, footer a:not(a.link-fara-stilizare)[href^=tel]::before {
  content: "⮳";
  font-size: 1.5em;
  display: inline-block;
  transition: color 0.5s ease;
}
main a:not(a.link-fara-stilizare)[href^=https]:hover::before, main a:not(a.link-fara-stilizare)[href^=mailto]:hover::before, main a:not(a.link-fara-stilizare)[href^=tel]:hover::before, footer a:not(a.link-fara-stilizare)[href^=https]:hover::before, footer a:not(a.link-fara-stilizare)[href^=mailto]:hover::before, footer a:not(a.link-fara-stilizare)[href^=tel]:hover::before {
  color: var(--culoare-accent);
}

#container-tema {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: var(--culoare-fundal);
  padding: 8px 15px;
  border-radius: 30px;
  border: 2px solid var(--culoare-contur);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px var(--culoare-contur);
}
#container-tema .form-check-input {
  margin: 0;
  float: none;
  border: 2px solid var(--culoare-contur);
  cursor: pointer;
}
#container-tema .form-check-label {
  margin: 0 0 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

body.dark-mode #container-tema {
  background-color: rgba(30, 30, 30, 0.9);
  color: white;
  border-color: var(--culoare-accent);
}
body.dark-mode #container-tema .form-check-input {
  border-color: var(--culoare-accent);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  body {
    --margine-pagina: 80px;
    --spatiere-grid: 15px;
  }
  #grid-pagina {
    grid-template-columns: repeat(2, 1fr); /* 1fr 1fr*/
    grid-template-areas: "zona1 zona1" "zona3 zona5" "zona4 zona5" "zona2 zona2" "zona6 zona7" "zona8 zona8";
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
  body {
    --margine-pagina: 10px;
    --spatiere-grid: 10px;
  }
  #video-promo iframe {
    height: 250px;
  }
  #grid-pagina {
    display: block;
  }
  *:not(ul.meniu) {
    animation: none !important;
    transition: none !important;
  }
}