hr.separator-dungi {
  border: none;
  height: 15px;
  width: 95%;
  margin: 3rem auto;
  border-radius: 10px;
  background: repeating-linear-gradient(to bottom, var(--culoare-accent) 0px, var(--culoare-accent) 2px, transparent 2px, transparent 4px);
}

#text-reflectat {
  position: absolute;
  left: 0;
  top: 100%;
  transform-origin: 0 0;
  /*conetaza ordinea transformarilor!*/
  transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(5px, -35px);
  opacity: 0.55;
  transition: all 0.5s ease-in-out;
}

#text {
  position: relative;
  margin-bottom: 30px;
}

#text, #text-reflectat {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

#text:hover #text-reflectat {
  transform: rotateX(180deg) skew(-45deg) scaleY(0.8) translate(5px, -40px);
}