#body-zboruri .zboruri, #body-zboruri #filtre {
  border: 1px solid var(--culoare-contur);
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--culoare-contur);
  padding: 20px;
  background-color: var(--culoare-fundal);
}

.select-cos {
  display: none;
}

#body-zboruri #infoRange {
  font-weight: bold;
  color: var(--culoare-text);
}
#body-zboruri #filtre {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#body-zboruri #filtre .btn-group .btn {
  color: var(--culoare-text);
  border-color: var(--culoare-contur);
  background-color: var(--culoare-fundal);
}
#body-zboruri #filtre .btn-group .btn:hover {
  background-color: var(--culoare-contur);
  color: var(--culoare-text);
}
#body-zboruri #filtre .btn-group .btn-check:checked + .btn {
  background-color: var(--culoare-accent);
  border-color: var(--culoare-accent);
  color: white;
}
#body-zboruri .bara-titlu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#body-zboruri .bara-titlu h2 {
  margin: 0;
  color: var(--culoare-text);
}
#body-zboruri .zboruri {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  transition: transform 0.4s linear;
  margin-bottom: 20px;
}
#body-zboruri .zboruri .zona-centrala {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#body-zboruri .zboruri figure img {
  width: 30%;
  height: 100px;
  min-width: 250px;
  max-width: 500px;
  border-radius: 10px;
}
#body-zboruri .zboruri .zona-plecare, #body-zboruri .zboruri .zona-sosire {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#body-zboruri .zboruri .zona-plecare .oras, #body-zboruri .zboruri .zona-sosire .oras {
  font-weight: bold;
  font-size: 1.2rem;
}
#body-zboruri .zboruri .zona-plecare .data, #body-zboruri .zboruri .zona-sosire .data {
  color: var(--culoare-text);
  font-size: 0.9rem;
}
#body-zboruri .zboruri .zona-plecare {
  align-items: flex-start;
}
#body-zboruri .zboruri .zona-sosire {
  align-items: flex-end;
}
#body-zboruri .zboruri:hover {
  transform: scale(1.05);
}
#body-zboruri #produse a {
  text-decoration: none;
  color: var(--culoare-text);
  width: 100%;
  height: 100%;
}
#body-zboruri #ch-filtre {
  display: none;
}
#body-zboruri #filtre {
  display: none;
}
#body-zboruri #ch-filtre:checked ~ #filtre {
  display: flex;
}
#body-zboruri .buton-filtre:hover {
  background-color: var(--culoare-accent);
  box-shadow: inset 0 0 5px 3px black;
}
#body-zboruri .input-eroare {
  border: 2px solid red;
}
#body-zboruri .pret-zbor {
  font-weight: bold;
  color: var(--culoare-text);
  font-size: 1.2rem;
}

.buton-filtre {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--culoare-accent);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0;
  box-shadow: inset 0 0 0px 0px transparent;
  transition: all 0.4s ease-in-out;
}